{% extends 'base.html.twig' %}

{% block title %}{{ 'categories_index.title' | trans }}{% endblock %}

{% block body_class %}front-categories-index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3">
                <h2>{{ 'categories_index.title' | trans }}</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            {% for category in categories %}
                <div class="col-12 col-md-6 mb-3">
                    <h3 class="bg-dark p-2 rounded-3 text-center">
                        <a href="{{ path('category_show', {'id': category.id }) }}" class="text-white">{{ category.name}} <span class="badge bg-light text-dark">{{ category.products | length }}</span></a>
                    </h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
